*.old
*/emacs-starter-kit/*
*/auto-save-list/*
**/*~
dotemacs/abbrev_defs
*.elc
dotemacs/.org-id-locations
dotemacs/elpa/*
dotemacs/org-clock-save.el
dotemacs/url/*
dotemacs/projectile-bookmarks.eld
dotemacs/projectile.cache
