*.old
*/emacs-starter-kit/*
*/auto-save-list/*
**/*~
dotemacs/abbrev_defs
*.elc
dotemacs/.org-id-locations
dotemacs/elpa/*
dotemacs/org-clock-save.el
dotemacs/url/*
dotemacs/projectile-bookmarks.eld
dotemacs/projectile.cache
fish/generated_completions/
fish/fishd.*
fish/fish*history
systemd/default.target.wants/
dotemacs/flycheck_org-clock-save.el
dotemacs/saveplace.el
dotemacs/vendor/
eshell/history
eshell/lastdir
