[submodule "vendor/zgenom"]
	path = vendor/zgenom
	url = https://github.com/jandamm/zgenom
[submodule "vendor/tokyonight.nvim"]
	path = vendor/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
