[submodule "vimconf/bundle/repeat"]
	path = vimconf/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vimconf/bundle/vim-ruby"]
	path = vimconf/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vimconf/bundle/vim-haml"]
	path = vimconf/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "dotemacs/vendor/haml-mode"]
	path = dotemacs/vendor/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "dotemacs/vendor/sass-mode"]
	path = dotemacs/vendor/sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule "dotemacs/vendor/emacs-liquid"]
	path = dotemacs/vendor/emacs-liquid
	url = https://github.com/rehanift/Emacs-Liquid.git
[submodule "irssi/scripts/xdccget"]
	path = irssi/scripts/xdccget
	url = https://code.google.com/p/xdccget/
[submodule "dotemacs/vendor/coffee-mode"]
	path = dotemacs/vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "dotemacs/vendor/smart-tabs-mode"]
	path = dotemacs/vendor/smart-tabs-mode
	url = https://github.com/jcsalomon/smarttabs.git
[submodule "dotemacs/vendor/color-theme-ir-black"]
	path = dotemacs/vendor/color-theme-ir-black
	url = https://github.com/burke/color-theme-ir-black.git
[submodule "dotemacs/vendor/nginx-mode"]
	path = dotemacs/vendor/nginx-mode
	url = https://github.com/ajc/nginx-mode.git
[submodule "dotemacs/vendor/yasnippet"]
	path = dotemacs/vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "vimconf/bundle/vim-orgmode"]
	path = vimconf/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vimconf/bundle/vim-snipmate"]
	path = vimconf/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vimconf/bundle/snipmate-snippets"]
	path = vimconf/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "luakit/plugins"]
	path = luakit/plugins
	url = https://github.com/mason-larobina/luakit-plugins.git
[submodule "vimconf/bundle/ctrlp.vim"]
	path = vimconf/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dotemacs/vendor/solarized"]
	path = dotemacs/vendor/solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
[submodule "awesome"]
	path = awesome
	url = http://git.sysphere.org/awesome-configs
[submodule "xcompose"]
	path = xcompose
	url = https://github.com/kragen/xcompose
[submodule "vimconf/bundle/vim-vinegar"]
	path = vimconf/bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "vimconf/bundle/dirsettings"]
	path = vimconf/bundle/dirsettings
	url = https://github.com/mantiz/vim-plugin-dirsettings.git
[submodule "vimconf/bundle/ledger"]
	path = vimconf/bundle/ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "vimconf/bundle/endwise"]
	path = vimconf/bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vimconf/bundle/hasksyn"]
	path = vimconf/bundle/hasksyn
	url = git://github.com/travitch/hasksyn.git
[submodule "vimconf/bundle/commentary"]
	path = vimconf/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vimconf/bundle/surround"]
	path = vimconf/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimconf/bundle/base16"]
	path = vimconf/bundle/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vimconf/bundle/fish"]
	path = vimconf/bundle/fish
	url = https://github.com/dag/vim-fish
[submodule "Xresources.d/base16"]
	path = Xresources.d/base16
	url = https://github.com/chriskempson/base16-xresources
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen
[submodule "vimconf/bundle/hybrid"]
	path = vimconf/bundle/hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "vimconf/bundle/goyo"]
	path = vimconf/bundle/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "vimconf/bundle/limelight"]
	path = vimconf/bundle/limelight
	url = https://github.com/junegunn/limelight.vim
[submodule "vimconf/bundle/conky-syntax"]
	path = vimconf/bundle/conky-syntax
	url = https://github.com/smancill/conky-syntax.vim
[submodule "vimconf/bundle/javascript"]
	path = vimconf/bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vimconf/bundle/coffee-script"]
	path = vimconf/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vimconf/bundle/fugitive"]
	path = vimconf/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vimconf/bundle/auto-pairs"]
	path = vimconf/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vimconf/bundle/tintin"]
	path = vimconf/bundle/tintin
	url = https://github.com/LokiChaos/vim-tintin.git
[submodule "vimconf/bundle/tmux-navigator"]
	path = vimconf/bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vimconf/bundle/racket"]
	path = vimconf/bundle/racket
	url = https://github.com/wlangstroth/vim-racket
[submodule "vimconf/bundle/rust"]
	path = vimconf/bundle/rust
	url = https://github.com/wting/rust.vim
[submodule "vimconf/bundle/toml"]
	path = vimconf/bundle/toml
	url = https://github.com/cespare/vim-toml
[submodule "vimconf/bundle/indentLine"]
	path = vimconf/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "vimconf/bundle/pandoc"]
	path = vimconf/bundle/pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "vimconf/bundle/pandoc-syntax"]
	path = vimconf/bundle/pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "vimconf/bundle/clang-format"]
	path = vimconf/bundle/clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule "vimconf/bundle/mustache"]
	path = vimconf/bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "spacemacs"]
	path = spacemacs
	url = http://github.com/syl20bnr/spacemacs
[submodule "vimconf/bundle/FastFold"]
	path = vimconf/bundle/FastFold
	url = git@github.com:Konfekt/FastFold.git
