[user]
	name = Christian Höppner
	email = chris@mkaito.net

; [gpg]
;   format = ssh

; [gpg "ssh"]
;   program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
; 	allowedSignersFile = /Users/mkaito/.ssh/allowed_signers

; [commit]
;   gpgsign = true

[column]
  ui = auto

[alias]
  co  = checkout
  cob = checkout -b
  b   = branch
  c   = commit
  s   = status --short
  ss  = status
  p   = push
  pt  = push --follow-tags
  pp  = push --force-with-lease
  ppt = push --force-with-lease --follow-tags
  l  = log --color --graph --pretty=format:'%G? %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  nuke = clean -fdx

[core]
  sshCommand = "ssh -i ~/.ssh/id_ed25519_1password.pub"
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore
	autocrlf = input
  untrackedCache = true
	safecrlf = warn

[color]
  ui = true

[web]
{{ if eq .chezmoi.os "darwin" -}}
  browser = open
{{- else -}}
  browser = /usr/bin/firefox
{{- end }}

[pager]
  tag = false
  branch = false

[diff]
  renameLimit = 2000
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[pull]
  rebase = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[merge]
  conflictstyle = zdiff3

[init]
  defaultBranch = master

[rebase]
	autoSquash = true

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[fixup]
  commit = true
  menu = fzf --height '60%' \
    --bind 'tab:toggle-preview' \
    --preview 'git show --color {+1}' \
    --preview-window=up:80% \
    --prompt 'Select commit: '

[includeIf "gitdir:~/dev/stx/internal/"]
  path = .gitconfig-stx

# vim: set ft=gitconfig:
