export PAGER="less"
export EDITOR="nvim"
export GIT_EDITOR="$EDITOR"
export SUDO_EDITOR="nvim"
export VISUAL="$EDITOR"

export FZF_DEFAULT_COMMAND='fd --type f'
export FZF_DEFAULT_OPTS="--reverse --inline-info --cycle --bind ctrl-j:down,ctrl-k:up,ctrl-l:accept"

{{ if eq .chezmoi.os "linux" -}}
export BROWSER="$HOME/.local/bin/browser"
export XTERM="$HOME/.local/bin/terminal"
export TERMCMD="$XTERM"
export TERMINAL="$XTERM"
export PERL_SIGNALS="unsafe"

export XCURSOR_SIZE=48
export QT_QPA_PLATFORMTHEME=qt5ct

export _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=lcd_hrgb -Dswing.aatext=true"

export XZ_OPT='-8 -T0'

if [ -z "$DBUS_SESSION_BUS_ADDRESS" ] && [ -n "$XDG_RUNTIME_DIR" ]; then
    export DBUS_SESSION_BUS_ADDRESS="unix:path=${XDG_RUNTIME_DIR}/bus"
fi
{{ end -}}

# vim:ft=zsh
