{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "aldheim") -}}
Xcursor.theme: default
Xcursor.size: 48

Xft.dpi: 192
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.hintstyle: hintfull
{{ end -}}
