#!/bin/sh
# include path = relative to chezmoi source root (~/.local/share/chezmoi → dotfiles/home/)
# {{ include "dot_config/steam/launch-options.toml" | sha256sum }}
{{ if eq .chezmoi.os "linux" -}}
~/.local/bin/steam-launch-sync export
{{ end -}}
