[Unit]
Description=FlexGet daemon
After=network.target

[Service]
ExecStart=/bin/flexget daemon start
ExecStop=/bin/flexget daemon stop
ExecReload=/usr/bin/flexget daemon reload
Restart=always

[Install]
WantedBy=default.target
