[Unit]
Description=last.fm updater for MPD
After=mpd.service

[Service]
ExecStart=/usr/bin/mpdscribble --no-daemon --conf /home/chris/.mpdscribble/mpdscribble.conf

[Install]
WantedBy=default.target
