[Unit]
Description=Start offlineimap as a daemon
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=%h/.gnupg/gpg-agent.info
ExecStart=/usr/bin/offlineimap
KillSignal=SIGUSR2

[Install]
WantedBy=default.target
