[Unit]
Description=hide the X11 mouse cursor when a key is pressed
After=graphical.target

[Service]
Environment=DISPLAY=:0
ExecStart=/bin/xbanish
Restart=always

[Install]
WantedBy=default.target
